<div>
  <form [formGroup]="ItemsForm">
    <div class="row">
      <div class="col-2">
        <label for="id 0">Item Id</label>
      </div>
      <div class="col-3">
        <label for="name 0">Item Name</label>
      </div>
      <div class="col-3">
        <label for="category 0">Categories</label>
      </div>
      <div class="col-2">
        <label for="price 0">Price</label>
      </div>
    </div>
    <div class="row">
      <ng-container formArrayName="dynamic_field"
        *ngFor="let item of dynamic_field.controls; let i = index">
        <div [formGroupName]="i" class="col-12 mb-2">
          <div class="form-group row">
            <div class="col-2">
              <input autocomplete="off" name="id" id="id {{i}}"
                class="form-control input-field" type="number"
                formControlName="id" placeholder="id"
                required
                [ngClass]="{'is-invalid': hasError(i, 'id', 'required') || hasError(i, 'id', 'idExists')}" />
              <div *ngIf="hasError(i, 'id', 'min')" class="text-danger">Id should be greater than or equal to 1</div>
              <div *ngIf="hasError(i, 'id', 'required')" class="text-danger">Id is required</div>
              <div *ngIf="hasError(i, 'id', 'idExists')" class="text-danger">Id should be unique</div>
            </div>
            <div class="col-3">
              <input autocomplete="off" name="name" id="name {{i}}"
                class="form-control input-field" type="text"
                formControlName="name" placeholder="name"
                required
                [ngClass]="{'is-invalid': hasError(i, 'name', 'required')}" />
              <div *ngIf="hasError(i, 'name', 'required')" class="text-danger">Name is required</div>
            </div>
            <div class="col-3">
              <div class="custom-select-wrapper w-100">
                <select id="category {{i}}"
                  class="input-field w-100 dropdown px-2"
                  formControlName="category">
                  <option value selected disabled hidden>Select a category</option>
                  <option [ngValue]="category.name"
                    *ngFor="let category of categoriesData">{{ category.name }}</option>
                </select>
                <fa-icon [icon]="arrowDownIcon" class="custom-select-arrow"></fa-icon>
              </div>
            </div>
            <div class="col-2">
              <input autocomplete="off" name="price" id="price {{i}}"
                class="form-control input-field" type="number"
                formControlName="price" placeholder="price"
                required
                [ngClass]="{'is-invalid': hasError(i, 'price', 'required')}" />
              <div *ngIf="hasError(i, 'price', 'min')" class="text-danger">Price should be greater than or equal to 0</div>
              <div *ngIf="hasError(i, 'price', 'required')" class="text-danger">Price is required</div>
            </div>
            <div class="col">
                <app-delete-button *ngIf="dynamic_field.length != 1" (deleteButtonClick)="removeField(i)"></app-delete-button>
                <app-add-button *ngIf="i === dynamic_field.length - 1" (addButtonClick)="addField()"></app-add-button>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <app-save-button class="save position-relative" [valid]="ItemsForm.valid"
      (saveButtonClick)="saveItems()"></app-save-button>

    <div class="d-flex justify-content-start mt-1">
      <p class="alert alert-success w-auto px-5 text-center py-2  d-none"
        role="alert">{{message}}</p>
    </div>
  </form>
</div>
