/* You can add global styles to this file, and also import other style files */

:root {
  --row-width: 40px;
  --row-height: 35px;
  --primary-color:  rgb(68, 143, 218);
}
.input-field{
  height: 35px !important;
  margin-top: 4px ;
}

